# Arquivos de ambiente
.env
.env.local
.env.*.local

# Dependências do Node (se for um projeto Node.js)
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Resultados de build (se for um projeto frontend/backend que gera uma pasta de build)
/dist
/build
/out
/coverage

# Arquivos de IDE (ex: VS Code, Intellij)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Se você usa alguma pasta de upload de arquivos (ex: public/uploads/)
# public/uploads/